@import './../../styles/global.scss';

.text {
    &.size-xl {
        font-size: 8rem;

        @include small {
            font-size: 4.5rem;
        }
    }

    &.size-l {
        font-size: 2.8rem;
    }

    &.size-m {
        font-size: 1.8rem;
    }

    &.size-s {
        font-size: 1rem;
    }

    &.color-typo {
        color: var(--color_typo);
    }

    &.color-main {
        color: var(--color_main);
    }

    &.color-background {
        color: var(--color_background);
    }

    &.typo-main {
        font-family: var(--font_default)
    }

    &.typo-secondary {
        font-family: var(--font_secondary)
    }
}