@font-face {
    font-family: 'ClashDisplay-Variable';
    src: url('/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Variable.woff2') format('woff2'),
         url('/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Variable.woff') format('woff'),
         url('/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Variable.ttf') format('truetype');
         font-weight: 200 700;
         font-display: swap;
         font-style: normal;
}
@font-face {
    font-family: 'FogtwoNo5';
    src: url('/fonts/fogtwono5/FogtwoNo5.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,900;1,100;1,300;1,400;1,600&display=swap');
// @import '/fonts/ClashDisplay_Complete/Fonts/WEB/css/clash-display.css'