@font-face {
    font-family: 'PT Sans', sans-serif;
    src: url("./fonts/PTSans-Bold.ttf"), format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: 'PT Sans', sans-serif;
    src: url("./fonts/PTSans-BoldItalic.ttf"), format("truetype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'PT Sans', sans-serif;
    src: url("./fonts/PTSans-Regular.ttf"), format("truetype");
}
@font-face {
    font-family: 'PT Sans', sans-serif;
    src: url("./fonts/PTSans-Italic.ttf"), format("truetype");
    font-style: italic;
}