:root {
    --color_main: #ffd60a;
    --color_background: #FFFFFF;
    --color_typo: #000000;

    --font_default: 'ClashDisplay-Variable';

    // --font_default: 'Work Sans', sans-serif;
    // --font_secondary: 'EB Garamond', serif;
    --font_secondary: 'FogtwoNo5';

    --margin-header-desktop: 2rem;
}