@import './../../styles/global.scss';

.header {
    position: fixed;
    width: 100%;
    // background-color: tomato;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    padding: 1rem var(--margin-header-desktop);
    z-index: 100;
    backdrop-filter: saturate(180%) blur(20px);

    @include small {
        position: absolute;
        backdrop-filter: none;
    }

    &__nav {
        display: flex;
        font-weight: 600;

        @include small {
            display: none;
        }
    }
}