@import './../../styles/global.scss';

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 18vw;
    max-height: 240px;
    width: 100%;
    overflow: hidden;
    font-family: var(--font_default);

    @include small {
        height: 100px;
        max-height: 500px;
    }

    .contact {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @include small {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1rem;
        }

        &__link {
            @include small {
                display: none;
            }
        }
        
        &__socials {
            display: flex;
            gap: 1rem;

            @include small {
                gap: 2rem;
            }

            a {
                position: relative;
                color: var(--color_font);
                padding-right: 1rem;

                &::after {
                    content: url('/arrow.svg');
                    // content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    display: block;
                    width: .8rem;
                    height: .8rem;
                    transition: transform .3s ease-out;
                }

                &:hover::after {
                    transform: translateY(-50%) rotate(45deg);
                }
            }
        }

        :nth-child(2n) {
            justify-self: center;
        }

        :last-child {
            justify-self: end;
        }
    }

    svg {
        position: absolute;
        top: 2rem;
        height: auto;
        width: 100%;

        @include small {
            top: 3rem;
        }
    }
}