.link {
    position: relative;
    cursor: pointer;

    &::after {
        content: '';
        position: absolute;
        height: 120%;
        width: 120%;
        left: -10%;
        bottom: -3px;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
        transform-origin: left;
        background-color: var(--color_main);
        z-index: -1;
    }

    &:hover {
        position: relative;
        
        &::after {
            transform: scaleX(1);
        }
    }

    & + * {
        margin: 0 0 0 1rem;

        &::before {
            content: '/';
            position: absolute;
            left: - .75rem;
            // margin: 0 .25rem;
        }
    }
}